<% if @user.id %>
    <h1><%= "Welcome #{@user.name}!"%></h1><br>

    <p>Username: <%=@user.username%></p><br>

    <form method="post" action="/user/logout">
        <p><input type="submit" value="Log Out"></p>
    </form>

    <form method="post" action="/user/<%=@user.id%>">
        <input type="hidden" name="_method" value="delete">
        <p><input type="submit" value="Delete Account"></p>
    </form>
<% else %>
    <%= "Welcome! Please sign in or create an account" %>
<% end %>
