<h2>There was a problem.</h2> <p>You either don't have permission to view this page, or it doesn't exist.<br>Please return to your profile and try again</p>

<% if logged_in? %>
    <p><a href="/user/<%= session[:user_id]%>">Home</a>
<% else %>
    <p><a href="/">Home</a>
<% end %>