<h1>Create a New Job</h1>

<form method="POST" action="/job">
    <p>Location: <input type="text" name="location"></p>
    <p>Difficulty: <input type="text" name="difficulty"></p>
    <p>Date: <input type="date" name="date"></p>
    <input type="submit" value="Create Job">
</form>